body {
    direction: rtl;
    font-family: Tahoma, Arial, sans-serif;
    margin: 20px;
    background: #ffffff;
    color: #222;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


h3 {
    margin-top: 25px;
}



/* نوار ابزار */

.toolbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;

}



.stats {

    display: flex;
    gap: 12px;
    flex-wrap: wrap;

}



.stats span {

    background: #f2f2f2;

    padding: 8px 12px;

    border-radius: 6px;

    font-size: 15px;

}




.green {

    color: green;

    font-weight:bold;

}



.red {

    color:red;

    font-weight:bold;

}




.search-box input {

    width:300px;

    padding:10px;

    font-size:16px;

    border:1px solid #888;

    border-radius:6px;

}





/* جدول */

.table-container {

    width:100%;

    max-height:70vh;

    overflow:auto;

    border:1px solid #aaa;

}



table {

    border-collapse:collapse;

    min-width:2600px;

}



/* سلول‌ها */

th,
td {

    border:1px solid #ccc;

    padding:8px;

    text-align:center;

    white-space:nowrap;

}




/* عرض ستون‌های مهم */

th:first-child,
td:first-child {

    min-width:100px;

}


th:nth-child(2),
td:nth-child(2){

    min-width:220px;

}




/* هدر */

th {

    position:sticky;

    top:0;

    background:#e8e8e8;

    cursor:pointer;

    z-index:5;

    user-select:none;

}



th:hover {

    background:#d5d5d5;

}




/* فلش مرتب سازی */

.sort-arrow {

    font-size:14px;

    margin-right:5px;

    color:#333;

}





/* ستون نماد ثابت */

th:first-child,
td:first-child {

    position:sticky;

    right:0;

    background:white;

    z-index:3;

}



th:first-child {

    background:#e8e8e8;

    z-index:6;

}




/* ردیف‌ها */

tr:nth-child(even){

    background:#fafafa;

}



tr:hover{

    background:#fff2a8;

}




/* رنگ تغییرات */

.positive {

    color:green;

    font-weight:bold;

}



.negative {

    color:red;

    font-weight:bold;

}
